<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Список рекомендацій</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Рекомендації</h1>
            </div>
            <div class="col-6">
                <ul class="list-group">
                    <% tips.forEach(tip=> { %>
                        <li class="list-group-item">
                            <a href="/<%= tip.id %>"><%= tip.value %>, <%= tip.domain %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-6">
                <form action="/" method="POST">
                    <input type="text" name="value" placeholder="Enter tip value" required>
                    <input type="text" name="domain" type="email" placeholder="Enter tip domain" required>
                    <button type="submit">Створити рекомендацію</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>